<section class="login text-center">
  <!-- Container-fluid starts -->
  <div class="container"  style="background-color: #FFFFFF">

    <div style="cursor: pointer" *ngIf="mensajeError" class="alert background-danger alert-dismissable" (click)="mensajeError = null">
      {{mensajeError}}
      <a class="close">&times;</a>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <div class="login-card card-block auth-body mr-auto ml-auto">
          <form class="md-float-material" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <label>
                    <h3 class="text-left txt-primary">Autenticación</h3>
                  </label>
                </div>
              </div>
              <hr/>

              <div class="form-row col-md-12">
                  <h6 class="text-left txt-primary" style="color: black">Correo o usuario</h6>
                  <div class="input-group">
                    <input type="email" class="form-control" placeholder="Digite su correo o usuario" id="username" name="username" [(ngModel)]="model.username" #username="ngModel" required>
                  </div>
                  <div class="alert alert-info" *ngIf="username.invalid && ( (username.dirty || username.touched) || isSubmitted)" class="alert alert-danger">
                      El correo o usuario es requerido.
                  </div>
              </div>
			  <div class="form-row col-md-12">

                  <h6 class="text-left txt-primary" style="color: black">Clave</h6>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Digite su clave" id="password" name="password" [(ngModel)]="model.password" #password="ngModel" required>
                  </div>
                  <div class="alert alert-info" *ngIf="password.invalid && ( (password.dirty || password.touched) || isSubmitted)" class="alert alert-danger">
                    La clave es requerida.
                  </div>
              </div>

                <!--<div class="col-12">
                  <div class="forgot-phone text-right f-right" style="float:none;">
                    <a [routerLink]="['/forgotMyPassword']" class="text-right f-w-600 text-inverse"> Olvidé mi clave</a>
                  </div>
				  <div class="forgot-phone text-right f-right" style="float:none;">
                    <a [routerLink]="['/registration']" class="text-right f-w-600 text-inverse"> Registrarme</a>
                  </div>

                </div>-->



              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" (click)="isSubmitted = true" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Ingresar</button>
                </div>
              </div>
              <hr/>
             <!--  <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div> -->

            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- Authentication card end -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
